body{
    font-family: 'Bruno Ace';
    max-width: 960px;
    margin: 0 auto;
}

header{
    padding: 0 0 40px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
} 

header p{
    margin-left: auto;
}
.contenedor{
    height: auto;
    display: flex;

}

.ingresarTexto{
    width: 65%;

}

#mensaje{
    width: 100%;
    height: 65%;
    font-weight: bold;
    border: 2px solid black;
    font-size: 18px;
    border-radius: 10px;
}

.botones{
    padding: 25px 0 0 0;
    width: 33,33%;
}

.ingresarTexto h1{
    padding: 0 0 35px 0;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.ingresarTexto p{
    font-weight: bold;
    font-size: 11px;
}

.resultado{

    font-weight: bold;
    width: 35%;

}

.resultado h1{
    padding: 0 0 35px 0;
    text-align: center;
    font-size: 25px;
}
#texto-a-copiar{
    font-weight: bold;
    border: 2px solid black; 
    font-size: 18px;
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

footer{
    padding: 3em 0;

    
}

footer p{
    text-align: center;
    font-weight: bold;

}
.imagen-logo-personal{
    width: 8em;
    padding: 0 0 0 20px;
    display: inline-block;
    vertical-align: middle;
}