body{
    background-image: url('imagenes/background-cj¿hallenge.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin: 0 auto;
    color: white;
}

header{
    padding: 20px 0 40px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
} 

header p{
    margin-left: auto;
}
.contenedor{
    height: auto;
    display: flex;

}

.ingresarTexto{
    width: 65%;

}

#mensaje{
    width: 600px;
    height: 120px;
    margin: 10px 10px 0 10px;
    font-weight: bold;
    background: none;
    color: white;
    border: 2px solid black;
    font-size: 18px;
    border-radius: 10px;
    resize: none;
}

.boton-contenedor{
width: 100%;
display: flex;
align-items: center;
}

.botones{
    width: 33%;
    padding: 15px;
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
    background: #0071c5;
    color: white;
    border: none;
    border-radius: 10px;
}

.botones:hover{
    background: #0b3c5a;
    transform: scale(1.2);
    border: 2px solid black;
}

.ingresarTexto h1{
    padding: 0 0 35px 0;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.ingresarTexto p{
    font-weight: bold;
    font-size: 11px;
}

.resultado{

    font-weight: bold;
    width: 35%;

}

.resultado h1{
    padding: 0 0 35px 0;
    text-align: center;
    font-size: 25px;
}
#texto-a-copiar{
    font-weight: bold;
    border: 2px solid black; 
    font-size: 18px;
    margin: 10px 10px 0 10px;
    width: 310px;
    height: 120px;
    border-radius: 10px;
}

footer{
    padding: 3em 0;

    
}

footer p{
    text-align: center;
    font-weight: bold;

}
.imagen-logo-personal{
    width: 8em;
    padding: 0 0 0 20px;
    display: inline-block;
    vertical-align: middle;
}